body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
}
h1 .name-highlight {
    color: orange;
}
section {
    display: flex;
    margin-bottom: 150px;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding: 0 5%;
}
.half-width {
    width: 50%;
    
}
.link-button {
    padding: 10px 40px;
    background-image:linear-gradient(#FF6F51, #FF9672);
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
}
.link-button:hover {
    background-image:linear-gradient(#FF9672,#FF6F51 );
}
.half-width img {
    width: 80%;
}

/* Dream Big section  */
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding: 0 5%;
    /* margin-top: 10%; */
}