body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
h1 .name-highlight {
    color: orange;
}
.flexible-container {
    display: flex;
    margin-bottom: 150px;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding: 0 5%;
}
.half-width {
    width: 50%;
    padding-left: 2%;
    
}
.link-button {
    padding: 10px 40px;
    background-image:linear-gradient(#FF6F51, #FF9672);
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
}
.link-button:hover {
    background-image:linear-gradient(#FF9672,#FF6F51 );
}
.half-width img {
    width: 80%;
}

/* Dream Big section  */
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding: 0 5%;
    /* margin-top: 10%; */
}
/* Expericences section */
.experiences {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experiences h3 {
    color: orange;
}
.ex-half-width {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px 0px #888888;
}
#full-stack-experience {
    border-left: 7px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 1;
}
#web-dev-expericence {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p {
    text-align: center;
    color: #6D7777;
}

